@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-zinc-800;
  }
  .border-style {
    @apply border-solid border-neutral-700;
  }
  .content-layout {
    @apply mx-4 w-full max-w-screen-lg;
  }
  .container-layout {
    @apply flex	h-full w-full grow justify-center bg-amber-50;
  }
  .hidden-text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    background-color: transparent;
    clip: rect(0px, 0px, 0px, 0px);
    white-space: nowrap;
  }

  .off-hidden-text {
    overflow: visible;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    clip: unset;
    white-space: normal;
  }
}

@layer components {
  .markdown-viewer div[data-remark-code-title='true'] {
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
    padding: 1em 1em 0.5em;
    background-color: #282c34;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #7d8189;
  }
  .markdown-viewer > pre {
    position: relative;
  }
  .markdown-viewer .language-text {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 14px;
    line-height: 1.2;
    padding: 0.3em 0.5em;
    border: 1px solid #7a6900;
    color: #7a6900;
  }

  .markdown-viewer .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }

  .markdown-viewer h1:hover .anchor .octicon-link:before,
  .markdown-viewer h2:hover .anchor .octicon-link:before,
  .markdown-viewer h3:hover .anchor .octicon-link:before,
  .markdown-viewer h4:hover .anchor .octicon-link:before,
  .markdown-viewer h5:hover .anchor .octicon-link:before,
  .markdown-viewer h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  }

  .markdown-viewer details,
  .markdown-viewer figcaption,
  .markdown-viewer figure {
    display: block;
  }

  .markdown-viewer summary {
    display: list-item;
  }

  .markdown-viewer [hidden] {
    display: none !important;
  }

  .markdown-viewer a {
    background-color: transparent;
    color: #0969da;
    text-decoration: none;
  }

  .markdown-viewer abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
  }

  .markdown-viewer b,
  .markdown-viewer strong {
    font-weight: 600;
  }

  .markdown-viewer dfn {
    font-style: italic;
  }

  .markdown-viewer h1 {
    margin: 0.67em 0;
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  }

  .markdown-viewer mark {
    background-color: #fff8c5;
    color: #24292f;
  }

  .markdown-viewer small {
    font-size: 90%;
  }

  .markdown-viewer sub,
  .markdown-viewer sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .markdown-viewer sub {
    bottom: -0.25em;
  }

  .markdown-viewer sup {
    top: -0.5em;
  }

  .markdown-viewer img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #e9e9e9;
  }

  .markdown-viewer code,
  .markdown-viewer kbd,
  .markdown-viewer pre,
  .markdown-viewer samp {
    font-family: monospace;
    font-size: 1em;
  }

  .markdown-viewer figure {
    margin: 1em 40px;
  }

  .markdown-viewer hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #d0d7de;
    border: 0;
  }

  .markdown-viewer input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .markdown-viewer [type='button'],
  .markdown-viewer [type='reset'],
  .markdown-viewer [type='submit'] {
    -webkit-appearance: button;
  }

  .markdown-viewer [type='checkbox'],
  .markdown-viewer [type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  .markdown-viewer [type='number']::-webkit-inner-spin-button,
  .markdown-viewer [type='number']::-webkit-outer-spin-button {
    height: auto;
  }

  .markdown-viewer [type='search']::-webkit-search-cancel-button,
  .markdown-viewer [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  .markdown-viewer ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }

  .markdown-viewer ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  .markdown-viewer a:hover {
    text-decoration: underline;
  }

  .markdown-viewer ::placeholder {
    color: #6e7781;
    opacity: 1;
  }

  .markdown-viewer hr::before {
    display: table;
    content: '';
  }

  .markdown-viewer hr::after {
    display: table;
    clear: both;
    content: '';
  }

  .markdown-viewer table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
  }

  .markdown-viewer td,
  .markdown-viewer th {
    padding: 0;
  }

  .markdown-viewer details summary {
    cursor: pointer;
  }

  .markdown-viewer details:not([open]) > *:not(summary) {
    display: none !important;
  }

  .markdown-viewer a:focus,
  .markdown-viewer [role='button']:focus,
  .markdown-viewer input[type='radio']:focus,
  .markdown-viewer input[type='checkbox']:focus {
    outline: 2px solid #0969da;
    outline-offset: -2px;
    box-shadow: none;
  }

  .markdown-viewer a:focus:not(:focus-visible),
  .markdown-viewer [role='button']:focus:not(:focus-visible),
  .markdown-viewer input[type='radio']:focus:not(:focus-visible),
  .markdown-viewer input[type='checkbox']:focus:not(:focus-visible) {
    outline: solid 1px transparent;
  }

  .markdown-viewer a:focus-visible,
  .markdown-viewer [role='button']:focus-visible,
  .markdown-viewer input[type='radio']:focus-visible,
  .markdown-viewer input[type='checkbox']:focus-visible {
    outline: 2px solid #0969da;
    outline-offset: -2px;
    box-shadow: none;
  }

  .markdown-viewer a:not([class]):focus,
  .markdown-viewer a:not([class]):focus-visible,
  .markdown-viewer input[type='radio']:focus,
  .markdown-viewer input[type='radio']:focus-visible,
  .markdown-viewer input[type='checkbox']:focus,
  .markdown-viewer input[type='checkbox']:focus-visible {
    outline-offset: 0;
  }

  .markdown-viewer kbd {
    display: inline-block;
    padding: 3px 5px;
    font:
      11px ui-monospace,
      SFMono-Regular,
      SF Mono,
      Menlo,
      Consolas,
      Liberation Mono,
      monospace;
    line-height: 10px;
    color: #24292f;
    vertical-align: middle;
    background-color: #f6f8fa;
    border: solid 1px rgba(175, 184, 193, 0.2);
    border-bottom-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
  }

  .markdown-viewer h1,
  .markdown-viewer h2,
  .markdown-viewer h3,
  .markdown-viewer h4,
  .markdown-viewer h5,
  .markdown-viewer h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  .markdown-viewer h2 {
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  }

  .markdown-viewer h3 {
    font-weight: 600;
    font-size: 1.25em;
  }

  .markdown-viewer h4 {
    font-weight: 600;
    font-size: 1em;
  }

  .markdown-viewer h5 {
    font-weight: 600;
    font-size: 0.875em;
  }

  .markdown-viewer h6 {
    font-weight: 600;
    font-size: 0.85em;
    color: #57606a;
  }

  .markdown-viewer p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .markdown-viewer blockquote {
    margin: 0;
    padding: 0 1em;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
  }

  .markdown-viewer ul,
  .markdown-viewer ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  .markdown-viewer ol ol,
  .markdown-viewer ul ol {
    list-style-type: lower-roman;
  }

  .markdown-viewer ul ul ol,
  .markdown-viewer ul ol ol,
  .markdown-viewer ol ul ol,
  .markdown-viewer ol ol ol {
    list-style-type: lower-alpha;
  }

  .markdown-viewer dd {
    margin-left: 0;
  }

  .markdown-viewer tt,
  .markdown-viewer code,
  .markdown-viewer samp {
    font-family:
      ui-monospace,
      SFMono-Regular,
      SF Mono,
      Menlo,
      Consolas,
      Liberation Mono,
      monospace;
    font-size: 12px;
  }

  .markdown-viewer pre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    word-wrap: normal;
  }

  .markdown-viewer .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
  }

  .markdown-viewer input::-webkit-outer-spin-button,
  .markdown-viewer input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
  }

  .markdown-viewer::before {
    display: table;
    content: '';
  }

  .markdown-viewer::after {
    display: table;
    clear: both;
    content: '';
  }

  .markdown-viewer > *:first-child {
    margin-top: 0 !important;
  }

  .markdown-viewer > *:last-child {
    margin-bottom: 0 !important;
  }

  .markdown-viewer a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  .markdown-viewer .absent {
    color: #cf222e;
  }

  .markdown-viewer .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
  }

  .markdown-viewer .anchor:focus {
    outline: none;
  }

  .markdown-viewer p,
  .markdown-viewer blockquote,
  .markdown-viewer ul,
  .markdown-viewer ol,
  .markdown-viewer dl,
  .markdown-viewer table,
  .markdown-viewer pre,
  .markdown-viewer details {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .markdown-viewer blockquote > :first-child {
    margin-top: 0;
  }

  .markdown-viewer blockquote > :last-child {
    margin-bottom: 0;
  }

  .markdown-viewer h1 .octicon-link,
  .markdown-viewer h2 .octicon-link,
  .markdown-viewer h3 .octicon-link,
  .markdown-viewer h4 .octicon-link,
  .markdown-viewer h5 .octicon-link,
  .markdown-viewer h6 .octicon-link {
    color: #24292f;
    vertical-align: middle;
    visibility: hidden;
  }

  .markdown-viewer h1:hover .anchor,
  .markdown-viewer h2:hover .anchor,
  .markdown-viewer h3:hover .anchor,
  .markdown-viewer h4:hover .anchor,
  .markdown-viewer h5:hover .anchor,
  .markdown-viewer h6:hover .anchor {
    text-decoration: none;
  }

  .markdown-viewer h1:hover .anchor .octicon-link,
  .markdown-viewer h2:hover .anchor .octicon-link,
  .markdown-viewer h3:hover .anchor .octicon-link,
  .markdown-viewer h4:hover .anchor .octicon-link,
  .markdown-viewer h5:hover .anchor .octicon-link,
  .markdown-viewer h6:hover .anchor .octicon-link {
    visibility: visible;
  }

  .markdown-viewer h1 tt,
  .markdown-viewer h1 code,
  .markdown-viewer h2 tt,
  .markdown-viewer h2 code,
  .markdown-viewer h3 tt,
  .markdown-viewer h3 code,
  .markdown-viewer h4 tt,
  .markdown-viewer h4 code,
  .markdown-viewer h5 tt,
  .markdown-viewer h5 code,
  .markdown-viewer h6 tt,
  .markdown-viewer h6 code {
    padding: 0 0.2em;
    font-size: inherit;
  }

  .markdown-viewer summary h1,
  .markdown-viewer summary h2,
  .markdown-viewer summary h3,
  .markdown-viewer summary h4,
  .markdown-viewer summary h5,
  .markdown-viewer summary h6 {
    display: inline-block;
  }

  .markdown-viewer summary h1 .anchor,
  .markdown-viewer summary h2 .anchor,
  .markdown-viewer summary h3 .anchor,
  .markdown-viewer summary h4 .anchor,
  .markdown-viewer summary h5 .anchor,
  .markdown-viewer summary h6 .anchor {
    margin-left: -40px;
  }

  .markdown-viewer summary h1,
  .markdown-viewer summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .markdown-viewer ul.no-list,
  .markdown-viewer ol.no-list {
    padding: 0;
    list-style-type: none;
  }

  .markdown-viewer ol[type='a'] {
    list-style-type: lower-alpha;
  }

  .markdown-viewer ol[type='A'] {
    list-style-type: upper-alpha;
  }

  .markdown-viewer ol[type='i'] {
    list-style-type: lower-roman;
  }

  .markdown-viewer ol[type='I'] {
    list-style-type: upper-roman;
  }

  .markdown-viewer ol[type='1'] {
    list-style-type: decimal;
  }

  .markdown-viewer div > ol:not([type]) {
    list-style-type: decimal;
  }

  .markdown-viewer ul ul,
  .markdown-viewer ul ol,
  .markdown-viewer ol ol,
  .markdown-viewer ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  .markdown-viewer li > p {
    margin-top: 16px;
  }

  .markdown-viewer li + li {
    margin-top: 0.25em;
  }

  .markdown-viewer dl {
    padding: 0;
  }

  .markdown-viewer dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }

  .markdown-viewer dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  .markdown-viewer table th {
    font-weight: 400;
  }

  .markdown-viewer table th,
  .markdown-viewer table td {
    padding: 6px 13px;
    border: 1px solid #000;
  }

  .markdown-viewer table tr {
    background-color: #4a4a4a;
    border-top: 1px solid hsla(210, 18%, 87%, 1);
  }

  .markdown-viewer table td {
    background-color: #303030;
  }

  /* .markdown-viewer table tr:nth-child(2n) {
    background-color: #f6f8fa;
  } */

  .markdown-viewer table img {
    background-color: transparent;
  }

  .markdown-viewer img[align='right'] {
    padding-left: 20px;
  }

  .markdown-viewer img[align='left'] {
    padding-right: 20px;
  }

  .markdown-viewer .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
  }

  .markdown-viewer span.frame {
    display: block;
    overflow: hidden;
  }

  .markdown-viewer span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #d0d7de;
  }

  .markdown-viewer span.frame span img {
    display: block;
    float: left;
  }

  .markdown-viewer span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #24292f;
  }

  .markdown-viewer span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }

  .markdown-viewer span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
  }

  .markdown-viewer span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }

  .markdown-viewer span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
  }

  .markdown-viewer span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
  }

  .markdown-viewer span.align-right span img {
    margin: 0;
    text-align: right;
  }

  .markdown-viewer span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
  }

  .markdown-viewer span.float-left span {
    margin: 13px 0 0;
  }

  .markdown-viewer span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
  }

  .markdown-viewer span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
  }

  .markdown-viewer code,
  .markdown-viewer tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
  }

  .markdown-viewer code br,
  .markdown-viewer tt br {
    display: none;
  }

  .markdown-viewer del code {
    text-decoration: inherit;
  }

  .markdown-viewer samp {
    font-size: 85%;
  }

  .markdown-viewer pre code {
    font-size: 100%;
  }

  .markdown-viewer pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  .markdown-viewer .highlight {
    margin-bottom: 16px;
  }

  .markdown-viewer pre code,
  .markdown-viewer pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  .markdown-viewer .csv-data td,
  .markdown-viewer .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
  }

  .markdown-viewer .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #e9e9e9;
    border: 0;
  }

  .markdown-viewer .csv-data tr {
    border-top: 0;
  }

  .markdown-viewer .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0;
  }

  .markdown-viewer [data-footnote-ref]::before {
    content: '[';
  }

  .markdown-viewer [data-footnote-ref]::after {
    content: ']';
  }

  .markdown-viewer .footnotes {
    font-size: 12px;
    color: #57606a;
    border-top: 1px solid #d0d7de;
  }

  .markdown-viewer .footnotes ol {
    padding-left: 16px;
  }

  .markdown-viewer .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
  }

  .markdown-viewer .footnotes li {
    position: relative;
  }

  .markdown-viewer .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: '';
    border: 2px solid #0969da;
    border-radius: 6px;
  }

  .markdown-viewer .footnotes li:target {
    color: #24292f;
  }

  .markdown-viewer .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
  }

  .markdown-viewer .pl-c {
    color: #6e7781;
  }

  .markdown-viewer .pl-c1,
  .markdown-viewer .pl-s .pl-v {
    color: #0550ae;
  }

  .markdown-viewer .pl-e,
  .markdown-viewer .pl-en {
    color: #8250df;
  }

  .markdown-viewer .pl-smi,
  .markdown-viewer .pl-s .pl-s1 {
    color: #24292f;
  }

  .markdown-viewer .pl-ent {
    color: #116329;
  }

  .markdown-viewer .pl-k {
    color: #cf222e;
  }

  .markdown-viewer .pl-s,
  .markdown-viewer .pl-pds,
  .markdown-viewer .pl-s .pl-pse .pl-s1,
  .markdown-viewer .pl-sr,
  .markdown-viewer .pl-sr .pl-cce,
  .markdown-viewer .pl-sr .pl-sre,
  .markdown-viewer .pl-sr .pl-sra {
    color: #0a3069;
  }

  .markdown-viewer .pl-v,
  .markdown-viewer .pl-smw {
    color: #953800;
  }

  .markdown-viewer .pl-bu {
    color: #82071e;
  }

  .markdown-viewer .pl-ii {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .markdown-viewer .pl-c2 {
    color: #f6f8fa;
    background-color: #cf222e;
  }

  .markdown-viewer .pl-sr .pl-cce {
    font-weight: bold;
    color: #116329;
  }

  .markdown-viewer .pl-ml {
    color: #3b2300;
  }

  .markdown-viewer .pl-mh,
  .markdown-viewer .pl-mh .pl-en,
  .markdown-viewer .pl-ms {
    font-weight: bold;
    color: #0550ae;
  }

  .markdown-viewer .pl-mi {
    font-style: italic;
    color: #24292f;
  }

  .markdown-viewer .pl-mb {
    font-weight: bold;
    color: #24292f;
  }

  .markdown-viewer .pl-md {
    color: #82071e;
    background-color: #ffebe9;
  }

  .markdown-viewer .pl-mi1 {
    color: #116329;
    background-color: #dafbe1;
  }

  .markdown-viewer .pl-mc {
    color: #953800;
    background-color: #ffd8b5;
  }

  .markdown-viewer .pl-mi2 {
    color: #eaeef2;
    background-color: #0550ae;
  }

  .markdown-viewer .pl-mdr {
    font-weight: bold;
    color: #8250df;
  }

  .markdown-viewer .pl-ba {
    color: #57606a;
  }

  .markdown-viewer .pl-sg {
    color: #8c959f;
  }

  .markdown-viewer .pl-corl {
    text-decoration: underline;
    color: #0a3069;
  }

  .markdown-viewer g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
  }

  .markdown-viewer g-emoji img {
    width: 1em;
    height: 1em;
  }

  .markdown-viewer .task-list-item {
    list-style-type: none;
  }

  .markdown-viewer .task-list-item label {
    font-weight: 400;
  }

  .markdown-viewer .task-list-item.enabled label {
    cursor: pointer;
  }

  .markdown-viewer .task-list-item + .task-list-item {
    margin-top: 4px;
  }

  .markdown-viewer .task-list-item .handle {
    display: none;
  }

  .markdown-viewer .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.4em;
    vertical-align: middle;
  }

  .markdown-viewer .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
  }

  .markdown-viewer .contains-task-list {
    position: relative;
  }

  .markdown-viewer .contains-task-list:hover .task-list-item-convert-container,
  .markdown-viewer
    .contains-task-list:focus-within
    .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
  }

  .markdown-viewer ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
  }
}
